@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('./whiteflowerbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.pseudo-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 9, 87);
    margin-top: 10vh;
    height: 469px;
    width: 402px;
    border: 2px solid black;
    border-radius: 10px;
    border: none;
}

.gen-info {
    display: flex;
    flex-direction: row;
    background-color: #faebd7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.date-time {
    flex: 1;
}

.day {
    font-family: Rajdhani;
    font-size: 27px;
    font-weight: 500;
    padding-left: 13px;
    padding-top: 13px;
}

.date {
    font-family: Rajdhani;
    font-size: 15px;
    font-weight: 600;
    padding-left: 13px;
    padding-bottom: 13px;
    color: rgb(66, 15, 113);
}

.task-number {
    flex: 1;
    font-family: Rajdhani;
    font-size: 23px;
    font-weight: 600;
    margin: auto;
    text-align: end;
    padding-right: 30px;
}

.tasks-body {
    display: flex;
    flex-direction: column;
    font-family: Rajdhani;
    font-size: 17px;
    font-weight: 600;
    color: #ffebcd;
    overflow-y: auto;

    scrollbar-width: thin; 
    scrollbar-color: #fff6a3 #ffffff00;
}

.task {
    display: flex;
    padding: 10px;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.task p{
    flex: 1;
}

.task:hover{
    background-color: #43147c;
}

.task .task-check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: none;
    right: 6px;
}

.delete{
    height: 34px;
    width: 34px;
    margin-left: 6px;
    background-color: white;
    background-image: url('./delete.png');
    background-position: center;
    background-size: 27px 27px;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: none;
    transition-duration: 0.1s;
    transition-property: background-color;
}

.delete:hover{
    background-color: red;
}

.add {
    margin: auto;
    position: fixed;
    top: 510px;
}

.add button {
    background-image: url('./plus.png');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 20px;
    border-radius: 32px;
    border: none;
    transition: background-color 0.2s;
    transition: transform 0.5s ease;
}

.add-task {
    display: none;
    z-index: 1;
    margin: auto;
    margin-top: -335px;
    height: 200px;
    width: 470px;
    background-color: rgb(243, 239, 168);
    border-radius: 13px;
}

.display-add-task {
    display: block;
}


.add-task p {
    text-align: left;
    margin-left: 34px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Rajdhani;
    font-size: 34px;
    font-weight: 500;
    color: rgb(77, 52, 29);
}

.add-task input {
    margin-left: 34px;
    margin-top: 13px;
    font-size: 20px;
    width: 375px;
    font-family: Rajdhani;
    padding: 6px 13px;
    border: none;
}

.add-task button {
    position: relative;
    margin-left: 34px;
    margin-top: 13px;
    font-family: Rajdhani;
    font-size: 17px;
    font-weight: 600;
    border: none;
    left: 168px;
    padding: 13px 27px;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.add-task button:hover {
    background-color: blue;
    color: white
}

.rotate-45 {
    transform: rotate(45deg);
}